<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Сервис заказа реагентов</title>
    {% endif %}
</head>
<body>
    <div>Заказ реагентов:
        <a href="{{ url_for('index') }}"> Главная </a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('registration') }}"> Регистрация </a>
        <a href="{{ url_for('login') }}"> Вход в личный кабинет </a>
        {% else %}
        <b>{{ current_user.name }}</b>
        <a href="{{ url_for('reagent_add') }}"> Добавление реактива в Базу </a>
        <a href="{{ url_for('reagent_get') }}"> Добавление реактива в Заказ </a>
        <a href="{{ url_for('logout') }}"> Выход </a>
        {% endif %}
    </div>
    <hr>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
</body>
</html>


