<form action="" method="post" novalidate>
<h2> Рассчет массы </h2>
<h3> Введите молярную концентрацию, объем и молярную массу вещества (MW)</h3>
        
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.molar_conc.label }}
                {{ form.molar_conc() }}
                {{ form.molar_conc_unit() }}
                {{ form.molar_conc_unit.label }}<br><br>
            </div>
            <div class="form-group">
                {{ form.volume.label }}
                {{ form.volume() }}
                {{ form.vol_unit() }}
                {{ form.vol_unit.label }}<br><br>
                

            </div>
            <div class="form-group">
                {{ form.molar_mass.label }}<br>
                {{ form.molar_mass() }}<br><br>
            </div>

        <input type="submit" name="_calc" value="Рассчитать">
</form>

