<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы для отправки поставщику</title>
</head>
    <body>
        <h2> ЗАКАЗЫ ДЛЯ ОТПРАВКИ ПОСТАВЩИКУ </h2>>
        <form action="" method="post">
        <table>
            <tr>
                <th>Название реактива </th>
                <th>Фасовка </th>
                <th>Единица измерения </th>
                <th>Производитель </th>
                <th>Кнопка </th>
                
                

                
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.reagent_name }} </td>
                <td>{{ item.package }} </td>
                <td>{{ item.package_unit }} </td>
                <td>{{ item.vendor_name }} </td>
                
                <td><input type="checkbox" name="a" value="{{ item.id }}"> Выбрать</td>
                
                
                
            </tr>
            {% endfor %}
        </table>
        <p>{{ form.submit() }}</p>
        <p><input type="submit" value="Отправить"></p>
        </form>
    </body>
</html>